html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #808080;
}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  place-content: center;
}
span {
  transform-style: preserve-3d;
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 36deg))
    translateZ(25px);
}
.no {
  color: #ff8c00;
}
.smoking {
  color: #f8f8f8;
}
.emphasis {
  color: red;
}
