html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #222222;
}
main {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.cig {
  transform-style: preserve-3d;
  animation: spin 15s linear infinite;
}
@keyframes spin {
  0% {
    transform: perspective(100px) rotateX(0deg);
  }
  100% {
    transform: perspective(100px) rotateX(360deg);
  }
}
span {
  display: flex;
  transform-style: preserve-3d;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  line-height: 0.76rem;
  font-size: 1.35rem;
  font-weight: 700;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 36deg))
    translateZ(25px);
}
.no {
  color: #ff8c00;
}
.smoking {
  color: #f8f8f8;
}
.emphasis {
  background-image: linear-gradient(0.25turn, red, black, lightgrey);
  background-clip: text;
  color: transparent;
}
